[Desktop Entry]
Name=Epiphany
Comment=Epiphany app with Cage base
GenericName=Web browser
Exec=/usr/bin/cage -- /usr/bin/epiphany
Icon=epiphany
Type=Application
StartupNotify=false
StartupWMClass=cage
Categories=Utilities
Keywords=web;internet;browser