[Unit]
Description=Autostart Moonlight in Cage
# Ensures this starts after the basic user session is set up
After=graphical-session.target

[Service]
Environment="QT_QPA_PLATFORM=xcb"
# Use full paths for reliability
ExecStart=/usr/bin/cage -- /usr/bin/moonlight
# Automatically restart the service if it crashes
Restart=on-failure
RestartSec=5

[Install]
# Hook into the default user session target
WantedBy=default.target
